* { box-sizing: border-box; }
html {
    min-height: 100%;
    font-size: 100%;
}

body {
    font-family: Avenir, Arial, sans-serif;
    text-align:justify;
}

header#page_header{
    position: relative;
    top: -10px;
    width:100%;


    padding: 5px 25px 5px 25px; /* 20px 20px 20px;*/
    margin: 0 0 2% 0;

    text-align: center;
    font-size: 2.5rem;

    text-shadow: -1px -1px #4a4a4a;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}
img#logo{
    position: relative;
    top: 6px;
}

section, button {
    font-size: 1.5rem;
}

section{
    width:95%;
    height:auto;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 20px 20px 20px;

    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}
table{
    margin-left: auto;
    margin-right: auto;
}

table#setup_rand, div#btn{
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

tr.head{
    text-align: center;
}

td.control{
    padding-left: 25px;
}

textarea{
    font-size: .7em;
    min-width:150px;
    min-height:150px;
}

textarea.mat_result{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

button{
	width: 100%;
    padding: 5px 0 5px 0;
}

button.lower{
    margin-top: 10px;
}

input{
    width: 5rem;
}

/* Colors */
body {
    background-color: #779a2b;
}
header#page_header{
    color:#f1f1f1;
    background-color:#4a4a4a;
    background: linear-gradient(#4a4a4a, #2b2b2b); /* Standard syntax */
}
section{
    background-color:#ffffff;
}
table#setup_rand, div#btn, textarea.mat_input{
    background-color:#ccddaa;
}
textarea.mat_result{
    background-color:#dbddd7;
}
